<div class="header">
	<div class="information <%= "user" if (user_signed_in?) %>">
		<div class="content_wrapper" style="position: relative;">
			<% if user_signed_in? %>
			
				<div class="title">
					<div class="main"><%= link_to "x.press", root_path %></div>
					<div class="sub">connect with your heroes & friends</div>
				</div>
		
				<div class="profile_options">
						<%= link_to number_to_currency(@credits_balance, :unit => "£"), "/profile", :id => "credits" %>
						<%= link_to "", "/profile", :id => "profile" %>
						<%= link_to "", logout_path, :id => "logout" %>
				</div>
			
			<% else %>
			
				<div class="welcome">
					<div class="blurb">
						<p class="title">Welcome!</p>
						<p>x.press connects you with your favourite celebrities & experts in every area of life</p>
						<p>learn the insider tricks & get inside the head of your heroes! our cross-platform video & audio streaming app connects you wherever you are</p>
					</div>
				</div>
			
				<div class="user_options">
						<%= link_to "Login", login_path, id: "login", :class => "big_button" %>
						<%= link_to "Register", register_path, id: "register", :class => "big_button" %>
				</div>
				
				<div class="clear">&nbsp;</div>
			<% end %>
		</div>
	</div>
	
	<div class="nav_bar">
		<div id="links" <%= if (@members || current_page?(root_path)) then "class=active" end %>>
			<%= link_to "home", root_path, class: active_class?(root_path) %>
			<% @categories.each do |category| %>
				<%= link_to category.title, member_path(category.id), class: active_class?(member_path(category.id)) %>
			<% end %>
		</div>
	</div>
	
	<div class="shadow"></div>
</div>