<div class="nav_bar">

	<div class="user_options">
		<% if user_signed_in? %>
			<%= link_to number_to_currency(@credits_balance, :unit => "£") + " Credits", "/profile" %>
			<div class="sep">|</div>
			<%= link_to "Invite Friends", "/profile" %>
			<div class="sep">|</div>
			<%= link_to "Profile", "/profile" %>
			<div class="sep">|</div>
			<%= link_to "Logout", logout_path %>
		<% else %>
			<%= link_to "Register", register_path %>
			<div class="sep">|</div>
			<%= link_to "Login", login_path %>
		<% end %>
	</div>
	
	<div class="page_options">
		<%= link_to "home", root_path %>
		<div class="sep">▪</div>
		<%= link_to "experts", members_path %>
		<div class="sep">▪</div>
		<%= link_to "about", members_path %>
	</div>
</div>