Welcome <b><%= @user.email %></b>!
	<hr />
	<p>You registered <b><%= time_ago_in_words( @user.created_at ) %></b> ago</p>
	<p>You have <b><%= number_to_currency(@credits, :unit => "£")  %> Credits</b> in your account</p>
	


	<!-- Form For Profile Image Upload -->
	<%= form_for :upload, :html => {:multipart => true}, :method => :patch, url: profile_path(current_user.id) do |f| %>
			<%= f.file_field :avatar %>
			<%= f.submit "Upload" %>
	<% end %>
