<div class="member_profile">
	<div class="member_avatar">
		<% if (@user.profile.avatar.present?) %>
			<%= image_tag(@user.profile.avatar.url, :width => "400") %>
		<% end %>
	</div>

	<div class="member_info">
		<div class="title"><%= name?(@user) %></div>
		<div class="sub_info">1563 broadcasts</div>
		<div class="description">
			<%= @profile.description.html_safe %>
		</div>
		<div class="book"><%= link_to "book a slot!", user_schedules_path(@user.id), :id => "book_slot", :class => "big_button" %></div>
	</div>
</div>

<% @broadcasts.each do |broadcast| %>
	<%= link_to "#{broadcast.name}", broadcast_path(:id => broadcast.id), :method => "get" %>
<% end %>

<% if @portfolio %>
	<div class="portfolio">
		<% @portfolio.each do |portfolio|%>
			<%= if(portfolio.cover_image.present?) then image_tag(portfolio.cover_image.url, :size => "175x175") else portfolio.description end %>
		<% end %>
		
		<% if @portfolio.count >= 5 %>
			<div class="more">
				<%= link_to "", root_path %>
			</div>
		<% end %>
	</div>
<% end %>
