

<div class="create">
	<%= form_for(@new_broadcast) do |f| %>
	Name: <%= f.text_field :name %><br/><br/>
	Public? <%= f.check_box :public %><br/><br/>

	<%= f.submit %>
<% end %>
</div>

<div>
	<% @broadcasts.each do |video| %>

		<p>
			<%= link_to "#{broadcast.name}", broadcast_path(:id => broadcast.id), :method => "get" %>
		</p>
		
	<% end %>
</div>