<!DOCTYPE html>
<html>
<head>
  <title>Video Conferencing App</title>
  
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag params[:controller], "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag params[:controller], "data-turbolinks-track" => true %>  
  <%= csrf_meta_tags %>
  
</head>
<body>
	<div class="page_wrapper">
		<%= render "elements/header" %>
		<div class="main content_wrapper">
			<%= yield %>
		</div>
	</div>

	<%= render "elements/footer" %>
</body>
</html>
